.info-parent-div {
  display: flex;
  justify-content: center;
}
.input-fields2 {
  width: 92%;
  height: 5vh;
}
.info-div2 {
  width: 100%;
}
.user-profile-h {
  margin-bottom: 2vh;
}
.user-name {
  margin-top: 0;
  margin-bottom: 0.5vh;
}
.submit-btn {
  width: 96%;
  height: 7vh;
  color: white;
  background-color: #0a325a;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: 600;
}
.submit-btn:hover {
  background-color: #1a4167;
}
.back-profile{
  color: rgb(0, 0, 0);
  margin-bottom: 0px;
  font-weight: bold;
  padding-bottom: 0px;
}
.back-profile:hover{
  color: rgb(141, 141, 141);
  cursor: pointer;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .submit-btn {
    margin-bottom: 4vh;
  }
}