.nav-head-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-left-div{
  width: 50vw;
}
.nav-right-div{
  width: 50vw;
}
.about-signup{
  margin-right: 3vw;
}
.right-para-about{
  margin-left: 2vw
}
.anchor-para{
  text-decoration: none;
  color: white;
}
.nav-right-inner-div{
   display: flex;
   justify-content: flex-end;
}
.nav-logo-heading{
  color: white;
}
.hub-span{
  color: white;
}
.right-para{
  color: white;
  padding-top: 0.6vh;
  font-size: 1.1rem;
  font-weight: 600;
}
.right-para:hover{
  cursor: pointer;
  border: 1px solid white;
  background-color: rgb(4, 4, 4);
  color: white;
  border-radius: 8px;
  padding: 1vh 1vw;
}
.middle-containt-div{
  display: flex;
  justify-content: space-between;
}
.left-container-div{
  margin-top: 8vh;
}
.containt-des{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
.para-des{
  color: white;
  font-size: larger;
  font-weight: 500;
  padding-left: 6vw;
  margin-top: -4vh;
}
.span-des{
  padding-left: 2.9vw;
}
/* ......... */
.home-parent-div {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/afc06103-4d6a-4236-b496-34b671a7e9ba/383fc36a-aa04-4dfd-95a0-a4b71bc21eed/IN-en-20221003-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  height: 100vh;
  z-index: -1;
  /* -webkit-filter: brightness(80%);  */
}
.middle-sec-div {
  display: flex;
  justify-content: center;
  /* align-content: center; */

  align-items: center;
  background-color: black;
  color: white;
  padding-bottom: 5vh;
}
.containt-des{
    color: white;
    /* font-size: 1.2rem; */
    z-index: 1;
}
.span-or{
  color: rgb(252, 252, 233);
  font-size: 1.4rem;
  margin: 0.4rem;
  /* padding-top: 1.3vh; */
  /* align-self: center; */
}
.para-ready{
  color: white;
  /* font-size: 1.2rem; */
  font-weight: 500;
}
.middle-containt-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  /* align-items: center; */
  /* padding-left: 2.5vw; */
  /* margin-top: 20vh; */
}
.row-division-btn{
   display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
   margin-top: 3vh;
}
.signup-btn-home{
  /* width: 17vw; */
  /* padding: 2vh 6vw; */
  /* height: 7.5vh; */
  width: 100%;
  height: 7.5vh;
  font-weight: 600;
  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 1.2rem;
}
.signup-btn-home:hover{
  cursor: pointer;
  background-color: rgb(124, 157, 124);
  color: white;
}
.login-btn-home:hover{
  cursor: pointer;
  background-color: rgb(124, 157, 124);
  color: black;
}
.login-btn-home{
  /* width: 17vw; */
  /* padding: 2vh 6vw; */
  font-size: 1.2rem;
  width: 100%;
  height: 7.5vh;
  font-weight: 600;
  /* height: 7.5vh; */
  color: white;
  background-color: #151317;
  border: 1px solid white;
  border-radius: 8px;
}
.main-div-top{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.desktop-img {
  height: 55vh;
  width: 40vw;
}
.para-smart-des {
  font-size: 1.3rem;
  margin-top: -1vh;
}
.middle-left-div {
  width: 50vw;
  display: flex;
  flex-direction: row;
}
.hr-middle {
  height: 0.6vh;
  color: rgb(106, 103, 103);
  margin: 0 !important;
  padding: 0 !important;
}
.dumy-picture {
  height: 60vh;
  margin-right: 30vw;
  margin-left: -6vw;
}
.bottom-containt-div {
  display: flex;
  background-color: rgb(193, 179, 179);
  color: black;
  padding-bottom: 5vh;
}
.streaming-picture {
  width: 35vw;
  height: 45vh;
  margin-top: 10vh;
  margin-left: 15vw;
  border: 8px solid gray;
}
.bottom-left-div {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-right-div {
  width: 50vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.para-stream {
  font-size: 1.3rem;
  margin-top: -1vh;
}
.about-containt-div {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5vh;
}
.para-about-hub {
  color: white;
}
.inner-top-head {
  align-self: center;
}
.inner-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55vw;
  margin-left: 18vw;
  margin-top: 5vh;
}
#ans-1 {
  display: none;
}
#ans-2 {
  display: none;
}
#ans-3 {
  display: none;
}
#ans-4 {
  display: none;
}
#ans-5 {
  display: none;
}
#ans-6 {
  display: none;
}
.para-faq-ans {
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  background-color: #303030;
}
.heading-btn {
  height: 3.5rem;
  margin-bottom: 0.6vh;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
}
.heading-btn:hover {
  cursor: pointer;
}
.heading-faq:hover {
  cursor: pointer;
}
@media screen and (min-width: 200px) and (max-width: 600px) {
        .nav-logo-heading{
          font-size: 1.2rem;
        }
        .para-des{
          margin-top: 0%;
        }
        .containt-des{
          margin-left: 14vw;
          font-size: 1.7rem;
        }
        .home-parent-div {
          height: auto;
          z-index: -1;
          filter: brightness();
          -webkit-filter: brightness(60%); 
        }
        .signup-btn-home{
          margin-bottom: 4vh;
        }
          .middle-sec-div{
            flex-direction: column;
            justify-content: center;
            align-content: center;

          }
          .dumy-picture{
            width: 60vw;
          }
          .bottom-left-div {
            width: auto;
          }
          .middle-containte-div{
            margin-left: 17vw;
            margin-top: 3vh;
          }
          .bottom-containt-div{
            flex-direction: column-reverse;
          }
          .bottom-left-div,.bottom-right-div{
            margin-left: 19vw;

          }
          .streaming-picture{
            height: 35vh;
            width: 80vw;
            margin-left: 0vw;
          }
          .bottom-left-div > h1{
            font-size: 1.5rem;
          }
          .inner-top-head > h1{
            font-size: 1.5rem
          }
          .inner-about{
            width: auto;
          }
          .inner-about > .heading-btn{
            margin-left: -15vw;
          }
          .inner-about > .para-faq-ans{
            margin-left: -15vw;
          }
          .left-container-div{
            margin-top: 0;
          }
}
@media screen and (min-width: 601px) and (max-width: 700px) {
  .streaming-picture{
    height: 35vh;
    /* width: 80vw; */
    margin-left: 4vw;
  }
}