.signup-header-div{
    width: 30vw;
    background-color: white;
    border: 2px solid white;
    border-radius: 12px;
    margin-top: 6vh;
    /* border-left: 6px solid rgb(51, 140, 51); */
}
.invalid-feedback{
    color: red;
    font-size: 0.8rem;
}
.register-form{
    padding-left: 7px;
    padding-bottom: 12px;
}
.input-fields{
    width: 28vw;
    height: 5vh;
}
.signup-btn{
    font-size: 1rem;
    height: 7vh;
    width:28.6vw;
    border: 1px solid white;
    border-radius: 6px;
    color:white;
    background-color: rgb(50, 154, 50);
}
.signup-btn:hover{
    cursor: pointer;
    background-color: green;
}
.login-sec{
    display: flex;
    justify-content: center;
}
.account-des{
 font-size: 0.9rem;
 padding-top: 3px;
}
.login-link{
color: blue;
}
.register-heading{
    margin-bottom: 0;
}
hr{
    margin-bottom: 3vh;
    margin-left: -0.5vw;
}
.login-link:hover{
    text-decoration: underline;
    cursor: pointer;
}