.header-nav-top{
    display: flex;
    justify-content: space-around;
    background-color: #2d313a;
    color: white;
}
.same-nav-divs{
    width: 33.33%;
}
i:hover{
    cursor: pointer;
}
.search-header-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}