.top-movies-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  padding-bottom: 2%;
}

.filter-head {
  font-size: 1.3rem;
  cursor: pointer;
  margin-top: 1.5rem;
  color: #2d313a;
  border: 2px solid #2d313a;
  border-radius: 12px;
  padding: 0.2em 0.3em;
}
.filter-head:hover {
  color: white;
  background-color: black;
  border: 2px solid rgb(255, 255, 255);
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
}
#header-filter-div {
  margin-left: 7vw;
  margin-bottom: 0.7vh;
  margin-top: -0.3h;
}
.all-lables {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
  padding-left: 1vw;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  font-size: 36px;
  color: rgb(0, 0, 0);
}
.genres-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  margin-left: 2.2vw;
  margin-top: -0.5vh;
}
.btn-apply {
  padding: 4% 8%;
  color: white;
  background-color: #0a325a;
  border: 1px solid white;
  border-radius: 12px;
  position: absolute;
  right: 2vw;
  font-weight: 600;
  margin-top: 1vh;
}
.btn-apply:hover {
  background-color: #173e64;
}
.genres-div > h4 {
  color: rgb(0, 0, 0);
  padding-top: 0.5vh;
}
.hr-genre {
  color: rgb(0, 0, 0);
  margin-bottom: 3vh !important;
  margin-top: 0vh !important;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  .top-movies-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .fa-filter {
    margin-left: 70%;
  }
  .movie-head {
    margin: 0px;
    margin-left: 25%;
  }
  .box-header {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  .filter-head {
    margin-bottom: 2vh;
  }
}