@import "react-alice-carousel/lib/alice-carousel.css";
.carouselItem {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 10px;
  }
  .carouselItem__txt{
    color: white;
    font-weight: 500;
  }
  .anchor-single-img{
    text-decoration: none;
  }
  .carouselItem__txt:hover{
      color: rgb(47, 27, 165);
  }
  .carouselItem__img {
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px black;
    height: 23vh;
    /* width: 20vw; */
  }
  /* .alice-carousel__wrapper{
    width: 100vw !important;
  } */