.login-header-div {
  margin-top: 8vh;
}
.login-lock{
  width: 40vw;
  height: 60vh;
}
.login-form {
  /* padding-left: 7px; */
  /* padding-bottom: 18px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-heading {
  margin-bottom: 0;
}
.input-fields-login {
  width: 45vw;
  height: 7vh;
}
.login-btn {
  margin-top: 1.5vh;
  font-size: 1.2rem;
  height: 8vh;
  width: 45.6vw;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  background-color: #1976d2;
}
.inpt-login-one{
  margin-top: 1.8vh;
}
.login-btn:hover {
  cursor: pointer;
  background-color: #1d69b5;
}
.account-des-login {
  font-size: 0.9rem;
  /* padding-top: 3px; */
}
.register-link {
  color: blue;
}
hr {
  margin-bottom: 7vh;
  margin-left: -0.5vw;
}
.register-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.register-sec{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
}
.forgott-pass{
    color: blue;
    margin-top: 0.1vh;
}
.forgott-pass:hover{
    cursor: pointer;
}
