.login-header-div {
  margin-top: 8vh;
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-lock {
  width: 70%;
  height: 40%;
}
.img-div-lock,
.login-form-container {
  width: 50%;
}
.form-class {
  margin-left: 10vw;
}
.img-div-lock {
  display: flex;
  justify-content: center;
  border-right: 1px solid green;
}
.login-heading {
  margin-bottom: 0;
}
.login-input {
  width: 70%;
  height: 6vh;
}
.login-btn {
  margin-top: 1.5vh;
  font-size: 1.2rem;
  height: 7.5vh;
  padding-left: 32%;
  padding-right: 32%;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  background-color: #0a325a;
}
.login-btn:hover {
  cursor: pointer;
  background-color: #184878;
}
.account-des-login {
  font-size: 0.9rem;
}
.register-link {
  color: blue;
}
hr {
  margin-bottom: 7vh;
  margin-left: -0.5vw;
}
.register-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.register-sec {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}
.forgott-pass {
  color: blue;
  margin-top: 0.1vh;
}
.forgott-pass:hover {
  cursor: pointer;
}
.css-10ghrmp-MuiPaper-root-MuiAppBar-root,
.css-1ctq51k {
  background-color: #2d313a !important;
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  .login-header-div {
    display: flex;
    justify-content: center;
  }
  .img-div-lock {
    display: none;
  }
  .input-fields-login,
  .input-fields {
    width: 100%;
    height: 6.2vh;
  }
  .inpt-login-one {
    margin-top: 1vh;
  }
  .form-class {
    margin: 0% 6%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .login-lock {
    height: 45vh;
  }
  .input-fields-login {
    padding-top: 0vh !important;
    height: 6.2vh;
  }
}