.search-top-div {
  display: flex !important;
  margin: 15px 0 !important;
}
.btn-search-icon {
  margin-left: 0.6vw !important;
  background-color: rgba(0, 0, 0, 0.06) !important;
  color: black !important;
}
.searchBox {
  flex: 1 !important;
}
.not-found-content{
  text-align: center !important;
}
.css-1ujnqem-MuiTabs-root , .css-orq8zk{
  padding-bottom: 9vh !important;
  padding-top: 3vh !important;
  width: 100% !important;
  text-align: center !important;
}
.css-heg063-MuiTabs-flexContainer {
  display: inline !important;
}
.tabs-search-query {
  font-size: 1.4rem !important;
}
.header-search-div {
  padding-bottom: 3vh !important;
}
.search-language-div{
  display: flex !important;
  justify-content: space-between !important;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  .tabs-search-query {
    font-size: 1rem !important;
  }
}