.div2-info {
  margin-left: 1.4vw;
}
.info-div-parent {
  display: flex;
}
.info-div-btn {
  display: flex;
  justify-content: space-between;
}
.info-div-btn > button {
  width: 49%;
  padding: 2vh 0;
  font-size: 1rem;
  background-color: #0a325a;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: 600;
}
.info-div-btn > button:hover {
  background-color: #173d63;
}
.user-profile-heading{
  margin-bottom: 0%;
  padding-bottom: 0%;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .info-div-btn {
    padding-bottom: 4vh;
  }
}
@media screen and (min-width: 200px) and (max-width: 350px) {
  .info-div-btn > button {
    font-size: 0.9rem;
  }
}